@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
  }


.page-header {
    font-size: 50px;
    margin-left: 32px;
    margin-top: 32px;
    font-weight: bold;
}

#top-picks h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.2;
}

.nav-header {
    display: flex;
}

.nav-option ul {
    display: flex;
    gap: 52px;
    padding: 8px;
    margin-top: 16px;
}

.nav-option li {
    font-size: 24px;
}

#main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0, 0.4)), url("C:\xampp\htdocs\example-app\public\foto\pakde2.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0px 20px 35px grey;
    align-items: center;
    width: 100%;
    height: 98vh;
    padding: 0px 3.5rem;
    color: white;
}

.header-text-cont {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 0;
    padding-left: 2.5rem;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
}

.header-text-cont p {
    font-size: 1.4rem;
    line-height: 1;
    margin-left: 5px;
}

.hero-btn {
    margin-top: 2rem;
    margin-left: 5px;
    padding: 4px 16px;
    width: fit-content;
    border: solid 2px;
    font-size: 24px;
}

svg {
    left: 0;
    position: absolute;
    margin-top: 2rem;
    bottom: 0
}

#top-picks {
    padding-top: 4rem;
}

#front-store {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.lingkaran {
    display : flex;
    height: 455px;
    width: 280px;
    background-color: #bbb;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    position: relative;
    bottom: 200px;
    left: 660px;
}

.pattaya {
    border-radius: 50%;
    width: 570px;
    height: 230px;
    position: relative;
    top: 200px;
    right: 3px;
    display : flex;
}

.sampingan {
width:640px;
height: 100px;
position: relative;
top: 110px;
left : 465px;
display : flex;
justify-content : space-between
}

.sampingan .samping {
    border-radius: 50%;
}

/* For mobile phones: */
/* [class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) { */
/* For desktop: */
/* .sampingan {width: 45%;}
.lingkaran {width: 20%;}
.pattaya {width: 100%;}
} */
