@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 50px;
    margin-left: 32px;
    margin-top: 32px;
    font-weight: bold;
}

.nav-header {
    display: flex;
}

.nav-option ul {
    display: flex;
    gap: 52px;
    padding: 8px;
    margin-left: 32px;
    margin-top: 16px;
}

.nav-option li {
    font-size: 24px;
}

body{
    width: 90%;
}